.stickyHeader {
  position: sticky;
  top: 0;
  background-color: #f1f1f1;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100; /*  щоб впевнитись що Typing компонент не видно поверх хедера коли відкрите бургер меню */
}

.burgerMenu {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.navLinks {
  display: flex;
}

.navLink {
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

.themeToggle {
  cursor: pointer;
  font-size: 24px;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .burgerMenu {
    display: block;
  }

  .navLinks {
    display: none;
  }

  .burgerMenuContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    display: block;
  }

  .burgerMenuClose {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
  }

  .burgerMenuItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .burgerMenuItems .navLink {
    margin: 20px 0;
    font-size: 18px;
  }
}

.burgerMenuContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  /* Додаткові стилі для головного меню */
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.burgerMenuClose {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

@media (min-width: 769px) {
  .burgerMenuContainer {
    display: none; /* Сховати бургер-меню на великому екрані */
  }

  .navLinks {
    display: flex; /* Власне "розгорнуте" меню, показане на великому екрані */
    /* Додаткові стилі для головного меню */
  }

  .burgerMenu {
    display: none; /* Сховати іконку бургера */
  }
}
