body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
  background-color: #fff;
  color: #000;
}

body.dark-mode {
  background-color: #121212;
  color: #fff;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
  margin: 0;
}
