html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

#root {
  height: 100%;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
  margin: 0;
}

.section {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

/* --- */

body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
  background-color: #fff; /* Світла тема за замовчуванням */
  color: #000;
}

body.dark-mode {
  background-color: #121212; /* Темна тема */
  color: #fff;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
  margin: 0;
}
