.typingText {
  display: inline;
  font-family: inherit;
  vertical-align: bottom;
}

span {
  gap: 0px;
}

.blinkingCursor {
  font-weight: bold;
  animation: blink 1s step-end infinite;
  margin-left: -1px;
  padding: 0;
  vertical-align: bottom;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
